Random forests have several advantages, but explorations in R have been very slow. This is an attempt to see how scikit-learn fares. There are two passes we make here: first, a toy example to fix the syntax and then a real example that takes forever in R.

We are focusing on regression problems.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn import datasets

In [2]:
from sklearn.model_selection import train_test_split

## Example 1

In [3]:
boston = datasets.load_boston()

In [4]:
features = pd.DataFrame(boston.data, columns = boston.feature_names); features.shape

(506, 13)

In [5]:
features.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [6]:
target = boston.target; target.shape

(506,)

In [7]:
from sklearn.preprocessing import StandardScaler

In [8]:
X_train, X_test, y_train, y_test = train_test_split(features, target, train_size = 0.8, random_state = 20130810)

C:\Users\kimmcodxb\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:2026: FutureWarning: From version 0.21, test_size will always complement train_size unless both are specified.
  FutureWarning)

In [9]:
scaler = StandardScaler().fit(X_train)
X_train_scaled = pd.DataFrame(scaler.transform(X_train), index = X_train.index.values, columns = X_train.columns.values)
X_test_scaled = pd.DataFrame(scaler.transform(X_test), index = X_test.index.values, columns = X_test.columns.values)

Is scaling necessary for Random Forests?

In [10]:
from sklearn.ensemble import RandomForestRegressor

In [11]:
%time 
rf = RandomForestRegressor(n_estimators = 500, oob_score=True, random_state=20130810, verbose = 1)
rf.fit(X_train, y_train)

Wall time: 0 ns

[Parallel(n_jobs=1)]: Done 500 out of 500 | elapsed:    0.8s finished

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=500, n_jobs=1,
           oob_score=True, random_state=20130810, verbose=1,
           warm_start=False)

In [12]:
predicted_train = rf.predict(X_train)
predicted_test = rf.predict(X_test)

[Parallel(n_jobs=1)]: Done 500 out of 500 | elapsed:    0.0s finished
[Parallel(n_jobs=1)]: Done 500 out of 500 | elapsed:    0.0s finished

In [13]:
rf.oob_score_

0.86146083124116513

## Example 2

Classification of wine data

In [126]:
data = pd.read_csv("http://mlr.cs.umass.edu/ml/machine-learning-databases/wine-quality/winequality-red.csv", sep = ";")

In [127]:
data.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [129]:
data.dtypes

fixed acidity           float64
volatile acidity        float64
citric acid             float64
residual sugar          float64
chlorides               float64
free sulfur dioxide     float64
total sulfur dioxide    float64
density                 float64
pH                      float64
sulphates               float64
alcohol                 float64
quality                   int64
dtype: object

No transformations to categorical features needed

In [131]:
X = data.drop('quality', axis = 1)
y = data['quality']

We can now partition the data into training and testing. We stratify the data partition by the target variable to ensure train and test sets have the same class balance.

In [136]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 20130810, stratify=y)

We need to scan the hyperparameter space of the model using some error criterion to finalize the specific model parameters that work best, given the data.

In [137]:
hyperparameters = {'randomforestregressor__max_features': ['auto', 'sqrt', 'log2'],
                  'randomforestregressor__max_depth' : [None, 5, 3, 1]}

We make a pipeline of the search for the best hyper parameters using a cross-validation approach and the random forest fit.

In [142]:
from sklearn.pipeline import make_pipeline
pipeline = make_pipeline(RandomForestRegressor(n_estimators = 100, oob_score=True))

In [148]:
from sklearn.model_selection import GridSearchCV
clf = GridSearchCV(pipeline, hyperparameters, cv=10, return_train_score=True)

In [155]:
%time 
clf.fit(X_train, y_train)

Wall time: 0 ns

GridSearchCV(cv=10, error_score='raise',
       estimator=Pipeline(memory=None,
     steps=[('randomforestregressor', RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=1,
           oob_score=True, random_state=None, verbose=0, warm_start=False))]),
       fit_params=None, iid=True, n_jobs=1,
       param_grid={'randomforestregressor__max_features': ['auto', 'sqrt', 'log2'], 'randomforestregressor__max_depth': [None, 5, 3, 1]},
       pre_dispatch='2*n_jobs', refit=True, return_train_score=True,
       scoring=None, verbose=0)

In [154]:
clf.cv_results_

{'mean_fit_time': array([ 0.52900972,  0.23724029,  0.27222693,  0.30510612,  0.16393785,
         0.16093132,  0.21777439,  0.12644243,  0.14569018,  0.13135421,
         0.10447869,  0.10297582]),
 'mean_score_time': array([ 0.00552258,  0.00600684,  0.00741599,  0.00531459,  0.00521977,
         0.0051002 ,  0.00461249,  0.00421455,  0.0043155 ,  0.00410786,
         0.0040097 ,  0.0040144 ]),
 'mean_test_score': array([ 0.45411253,  0.46406243,  0.46082629,  0.37692727,  0.36539464,
         0.36990758,  0.31670688,  0.30819731,  0.30657481,  0.19014692,
         0.16419979,  0.1664084 ]),
 'mean_train_score': array([ 0.92558352,  0.92634313,  0.92628416,  0.56022876,  0.51812008,
         0.51968225,  0.40780003,  0.37656531,  0.3746439 ,  0.22261549,
         0.18525075,  0.19120996]),
 'param_randomforestregressor__max_depth': masked_array(data = [None None None 5 5 5 3 3 3 1 1 1],
              mask = [False False False False False False False False False False False False],
        fill_value = ?),
 'param_randomforestregressor__max_features': masked_array(data = ['auto' 'sqrt' 'log2' 'auto' 'sqrt' 'log2' 'auto' 'sqrt' 'log2' 'auto'
  'sqrt' 'log2'],
              mask = [False False False False False False False False False False False False],
        fill_value = ?),
 'params': [{'randomforestregressor__max_depth': None,
   'randomforestregressor__max_features': 'auto'},
  {'randomforestregressor__max_depth': None,
   'randomforestregressor__max_features': 'sqrt'},
  {'randomforestregressor__max_depth': None,
   'randomforestregressor__max_features': 'log2'},
  {'randomforestregressor__max_depth': 5,
   'randomforestregressor__max_features': 'auto'},
  {'randomforestregressor__max_depth': 5,
   'randomforestregressor__max_features': 'sqrt'},
  {'randomforestregressor__max_depth': 5,
   'randomforestregressor__max_features': 'log2'},
  {'randomforestregressor__max_depth': 3,
   'randomforestregressor__max_features': 'auto'},
  {'randomforestregressor__max_depth': 3,
   'randomforestregressor__max_features': 'sqrt'},
  {'randomforestregressor__max_depth': 3,
   'randomforestregressor__max_features': 'log2'},
  {'randomforestregressor__max_depth': 1,
   'randomforestregressor__max_features': 'auto'},
  {'randomforestregressor__max_depth': 1,
   'randomforestregressor__max_features': 'sqrt'},
  {'randomforestregressor__max_depth': 1,
   'randomforestregressor__max_features': 'log2'}],
 'rank_test_score': array([ 3,  1,  2,  4,  6,  5,  7,  8,  9, 10, 12, 11]),
 'split0_test_score': array([ 0.4295578 ,  0.44034509,  0.43179528,  0.40714457,  0.37442002,
         0.37523111,  0.36010074,  0.31784413,  0.31457622,  0.20187532,
         0.17152407,  0.16906191]),
 'split0_train_score': array([ 0.92392367,  0.92764795,  0.92642671,  0.55612418,  0.51833936,
         0.5182549 ,  0.39798735,  0.36670754,  0.36997703,  0.21101823,
         0.18821227,  0.18280072]),
 'split1_test_score': array([ 0.42944348,  0.44527147,  0.46612532,  0.27015662,  0.29458466,
         0.29717041,  0.21983755,  0.24534551,  0.252249  ,  0.16595127,
         0.14643118,  0.15240493]),
 'split1_train_score': array([ 0.92545614,  0.9257229 ,  0.92699822,  0.56588874,  0.525986  ,
         0.52896978,  0.41940109,  0.38527154,  0.38393819,  0.23240693,
         0.18415326,  0.20088565]),
 'split2_test_score': array([ 0.44220639,  0.44807505,  0.46035534,  0.38988398,  0.38773965,
         0.39527847,  0.33404928,  0.31391411,  0.32708454,  0.30320442,
         0.18030786,  0.18077729]),
 'split2_train_score': array([ 0.9266999 ,  0.92719591,  0.9245228 ,  0.56543965,  0.52013838,
         0.51775538,  0.41173156,  0.3809227 ,  0.37350253,  0.22025074,
         0.18701213,  0.19589326]),
 'split3_test_score': array([ 0.54571779,  0.52793742,  0.51442945,  0.45456421,  0.43492876,
         0.42751843,  0.37026565,  0.3691063 ,  0.36215675,  0.16552185,
         0.1812109 ,  0.19637002]),
 'split3_train_score': array([ 0.92386017,  0.92315083,  0.92342732,  0.55113585,  0.50890568,
         0.50913938,  0.400421  ,  0.36616084,  0.36414133,  0.21786032,
         0.18970038,  0.19872935]),
 'split4_test_score': array([ 0.42216828,  0.43418446,  0.41946472,  0.39204587,  0.38552351,
         0.3766385 ,  0.36513606,  0.34166844,  0.31902533,  0.24306153,
         0.16914183,  0.15971992]),
 'split4_train_score': array([ 0.92906757,  0.93022925,  0.9276518 ,  0.5614724 ,  0.51694482,
         0.51948374,  0.40447053,  0.37044031,  0.36836373,  0.21406747,
         0.18202045,  0.17542112]),
 'split5_test_score': array([ 0.58718806,  0.6020786 ,  0.57970344,  0.49147023,  0.46561036,
         0.45987716,  0.42445352,  0.38997749,  0.371381  ,  0.26845991,
         0.18450188,  0.19511742]),
 'split5_train_score': array([ 0.92381588,  0.92419519,  0.92523751,  0.54733994,  0.50834518,
         0.50883348,  0.3984565 ,  0.36691881,  0.36249135,  0.21671296,
         0.18044186,  0.18775002]),
 'split6_test_score': array([ 0.46641333,  0.48776476,  0.47512245,  0.37461922,  0.35258459,
         0.36737947,  0.31088499,  0.294712  ,  0.29216528,  0.19444272,
         0.16138209,  0.14985437]),
 'split6_train_score': array([ 0.9244196 ,  0.92530574,  0.92811648,  0.56313401,  0.52205502,
         0.52647336,  0.41304841,  0.3840556 ,  0.37897809,  0.22536789,
         0.17828306,  0.17795039]),
 'split7_test_score': array([ 0.47795014,  0.48104564,  0.50479395,  0.36804727,  0.37874496,
         0.39129895,  0.30774503,  0.32275692,  0.32165597,  0.22510346,
         0.17478121,  0.17856115]),
 'split7_train_score': array([ 0.92164334,  0.92678686,  0.92613462,  0.55741265,  0.51962075,
         0.51759802,  0.41136206,  0.37727537,  0.37799221,  0.22332338,
         0.18702874,  0.18641637]),
 'split8_test_score': array([ 0.42627483,  0.43961469,  0.42349279,  0.35178006,  0.32572768,
         0.33892015,  0.29443284,  0.27477156,  0.27343905,  0.07374045,
         0.1232476 ,  0.12567504]),
 'split8_train_score': array([ 0.92735071,  0.92466564,  0.92547483,  0.56454447,  0.51563154,
         0.51997456,  0.40163888,  0.3772028 ,  0.37811189,  0.22712494,
         0.18083519,  0.19381531]),
 'split9_test_score': array([ 0.31310354,  0.33328542,  0.33197351,  0.26871528,  0.25320574,
         0.2689746 ,  0.179088  ,  0.21111824,  0.23142783,  0.05908434,
         0.14935334,  0.15646425]),
 'split9_train_score': array([ 0.92959824,  0.928531  ,  0.92885132,  0.56979568,  0.52523401,
         0.53033993,  0.41948289,  0.39069753,  0.38894269,  0.23802201,
         0.1948202 ,  0.21243743]),
 'std_fit_time': array([ 0.01160183,  0.00509248,  0.03447003,  0.01753714,  0.02225896,
         0.01230827,  0.01413068,  0.0018714 ,  0.02781335,  0.00615127,
         0.00655833,  0.00294355]),
 'std_score_time': array([ 0.00049419,  0.00089665,  0.00298283,  0.00162021,  0.00107834,
         0.00138458,  0.00080233,  0.00041012,  0.00045726,  0.00028971,
         0.0004423 ,  0.00044849]),
 'std_test_score': array([ 0.07052364,  0.06606316,  0.06294646,  0.06650305,  0.05942185,
         0.05382962,  0.06915882,  0.05145564,  0.04246206,  0.07410887,
         0.01836609,  0.02087749]),
 'std_train_score': array([ 0.00241602,  0.00203948,  0.00159327,  0.00672984,  0.00567773,
         0.00696441,  0.00783486,  0.00829168,  0.00808316,  0.00795144,
         0.00478768,  0.01077151])}


## Example 3 

Let us now move to a rather pesky data set. This nasty data set has weird column names, and several missing values denoted by '?'.

### Munging the data

In [14]:
adult_train = pd.read_csv("data/general/adult.data", header=None, names = ["age", "workclass", "fnlwgt", "education", "education_num",
                                                                           "marital_status", "occupation", "relationship", "race",
                                                                           "sex", "capital_gain", "capital_loss", "hours_per_week",
                                                                           "native_country", "target"])

In [15]:
adult_train.head()

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,target
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [16]:
adult_train.shape

(32561, 15)

In [17]:
adult_test = pd.read_csv("data/general/adult.test", 
                         header=None, 
                         names = ["age", "workclass", "fnlwgt", "education", "education_num",
                                                                          "marital_status", "occupation", "relationship", "race",
                                                                          "sex", "capital_gain", "capital_loss", "hours_per_week",
                                                                          "native_country", "target"],
                         skiprows = 1)

In [18]:
adult_test.head()

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,target
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K.
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K.
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K.
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K.
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K.

In [19]:
adult_train.replace(r'\?', np.nan, regex = True)
adult_test.replace(r'\?', np.nan, regex = True)

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,target
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K.
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K.
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K.
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K.
4,18,NaN,103497,Some-college,10,Never-married,NaN,Own-child,White,Female,0,0,30,United-States,<=50K.
5,34,Private,198693,10th,6,Never-married,Other-service,Not-in-family,White,Male,0,0,30,United-States,<=50K.
6,29,NaN,227026,HS-grad,9,Never-married,NaN,Unmarried,Black,Male,0,0,40,United-States,<=50K.
7,63,Self-emp-not-inc,104626,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,3103,0,32,United-States,>50K.
8,24,Private,369667,Some-college,10,Never-married,Other-service,Unmarried,White,Female,0,0,40,United-States,<=50K.
9,55,Private,104996,7th-8th,4,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,10,United-States,<=50K.
10,65,Private,184454,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,6418,0,40,United-States,>50K.
11,36,Federal-gov,212465,Bachelors,13,Married-civ-spouse,Adm-clerical,Husband,White,Male,0,0,40,United-States,<=50K.
12,26,Private,82091,HS-grad,9,Never-married,Adm-clerical,Not-in-family,White,Female,0,0,39,United-States,<=50K.
13,58,NaN,299831,HS-grad,9,Married-civ-spouse,NaN,Husband,White,Male,0,0,35,United-States,<=50K.
14,48,Private,279724,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,3103,0,48,United-States,>50K.
15,43,Private,346189,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,50,United-States,>50K.
16,20,State-gov,444554,Some-college,10,Never-married,Other-service,Own-child,White,Male,0,0,25,United-States,<=50K.
17,43,Private,128354,HS-grad,9,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,30,United-States,<=50K.
18,37,Private,60548,HS-grad,9,Widowed,Machine-op-inspct,Unmarried,White,Female,0,0,20,United-States,<=50K.
19,40,Private,85019,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,45,NaN,>50K.
20,34,Private,107914,Bachelors,13,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,47,United-States,>50K.
21,34,Private,238588,Some-college,10,Never-married,Other-service,Own-child,Black,Female,0,0,35,United-States,<=50K.
22,72,NaN,132015,7th-8th,4,Divorced,NaN,Not-in-family,White,Female,0,0,6,United-States,<=50K.
23,25,Private,220931,Bachelors,13,Never-married,Prof-specialty,Not-in-family,White,Male,0,0,43,Peru,<=50K.
24,25,Private,205947,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,<=50K.
25,45,Self-emp-not-inc,432824,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,7298,0,90,United-States,>50K.
26,22,Private,236427,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K.
27,23,Private,134446,HS-grad,9,Separated,Machine-op-inspct,Unmarried,Black,Male,0,0,54,United-States,<=50K.
28,54,Private,99516,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,35,United-States,<=50K.
29,32,Self-emp-not-inc,109282,Some-college,10,Never-married,Prof-specialty,Not-in-family,White,Male,0,0,60,United-States,<=50K.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16251,81,NaN,26711,Assoc-voc,11,Married-civ-spouse,NaN,Husband,White,Male,2936,0,20,United-States,<=50K.
16252,60,Private,117909,Assoc-voc,11,Married-civ-spouse,Prof-specialty,Husband,White,Male,7688,0,40,United-States,>50K.
16253,39,Private,229647,Bachelors,13,Never-married,Tech-support,Not-in-family,White,Female,0,1669,40,United-States,<=50K.
16254,38,Private,149347,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,>50K.
16255,43,Local-gov,23157,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,1902,50,United-States,>50K.
16256,23,Private,93977,HS-grad,9,Never-married,Machine-op-inspct,Own-child,White,Male,0,0,40,United-States,<=50K.
16257,73,Self-emp-inc,159691,Some-college,10,Divorced,Exec-managerial,Not-in-family,White,Female,0,0,40,United-States,<=50K.
16258,35,Private,176967,Some-college,10,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,<=50K.
16259,66,Private,344436,HS-grad,9,Widowed,Sales,Other-relative,White,Female,0,0,8,United-States,<=50K.
16260,27,Private,430340,Some-college,10,Never-married,Sales,Not-in-family,White,Female,0,0,45,United-States,<=50K.
16261,40,Private,202168,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,15024,0,55,United-States,>50K.
16262,51,Private,82720,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K.
16263,22,Private,269623,Some-college,10,Never-married,Craft-repair,Own-child,White,Male,0,0,40,United-States,<=50K.
16264,64,Self-emp-not-inc,136405,HS-grad,9,Widowed,Farming-fishing,Not-in-family,White,Male,0,0,32,United-States,<=50K.
16265,50,Local-gov,139347,Masters,14,Married-civ-spouse,Prof-specialty,Wife,White,Female,0,0,40,NaN,>50K.
16266,55,Private,224655,HS-grad,9,Separated,Priv-house-serv,Not-in-family,White,Female,0,0,32,United-States,<=50K.
16267,38,Private,247547,Assoc-voc,11,Never-married,Adm-clerical,Unmarried,Black,Female,0,0,40,United-States,<=50K.
16268,58,Private,292710,Assoc-acdm,12,Divorced,Prof-specialty,Not-in-family,White,Male,0,0,36,United-States,<=50K.
16269,32,Private,173449,HS-grad,9,Married-civ-spouse,Handlers-cleaners,Husband,White,Male,0,0,40,United-States,<=50K.
16270,48,Private,285570,HS-grad,9,Married-civ-spouse,Adm-clerical,Husband,White,Male,0,0,40,United-States,<=50K.
16271,61,Private,89686,HS-grad,9,Married-civ-spouse,Sales,Husband,White,Male,0,0,48,United-States,<=50K.
16272,31,Private,440129,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K.
16273,25,Private,350977,HS-grad,9,Never-married,Other-service,Own-child,White,Female,0,0,40,United-States,<=50K.
16274,48,Local-gov,349230,Masters,14,Divorced,Other-service,Not-in-family,White,Male,0,0,40,United-States,<=50K.
16275,33,Private,245211,Bachelors,13,Never-married,Prof-specialty,Own-child,White,Male,0,0,40,United-States,<=50K.
16276,39,Private,215419,Bachelors,13,Divorced,Prof-specialty,Not-in-family,White,Female,0,0,36,United-States,<=50K.
16277,64,NaN,321403,HS-grad,9,Widowed,NaN,Other-relative,Black,Male,0,0,40,United-States,<=50K.
16278,38,Private,374983,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,<=50K.
16279,44,Private,83891,Bachelors,13,Divorced,Adm-clerical,Own-child,Asian-Pac-Islander,Male,5455,0,40,United-States,<=50K.
16280,35,Self-emp-inc,182148,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,60,United-States,>50K.

In [110]:
X_train = adult_train.drop('target', axis = 1)
y_train = adult_train['target']

In [111]:
X_test = adult_test.drop('target', axis = 1)
y_test = adult_test['target']

In [112]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((32561, 14), (16281, 14), (32561,), (16281,))

In [113]:
X_train.dtypes

age                int64
workclass         object
fnlwgt             int64
education         object
education_num      int64
marital_status    object
occupation        object
relationship      object
race              object
sex               object
capital_gain       int64
capital_loss       int64
hours_per_week     int64
native_country    object
dtype: object

We need to convert the categorical features to dummy variables, which is easiest done within Pandas itself.

In [114]:
cols_to_transform = [col for col in X_train.columns if X_train[col].dtype == 'object']
X_train_enc = pd.get_dummies(X_train, columns = cols_to_transform)
X_test_enc = pd.get_dummies(X_test, columns = cols_to_transform)

It looks like there is a mismatch in the levels of the categorical features in the training and testing set.

In [116]:
mismatched_cols = []
for col in X_train_enc.columns:
    if col not in X_test_enc.columns:
        mismatched_cols.append(col)

print(mismatched_cols)

['native_country_ Holand-Netherlands']

In [117]:
X_train_enc = X_train_enc.drop(mismatched_cols, axis = 1)

### Fitting a random forest model

In [118]:
from sklearn.ensemble import RandomForestClassifier

In [119]:
rf = RandomForestClassifier(n_estimators = 30, max_depth=10, random_state=20130810, oob_score=True)

In [120]:
rf.fit(X_train_enc, y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=10, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=30, n_jobs=1,
            oob_score=True, random_state=20130810, verbose=0,
            warm_start=False)

In [121]:
rf.predict(X_train_enc)

array([' <=50K', ' >50K', ' <=50K', ..., ' <=50K', ' <=50K', ' >50K'], dtype=object)

In [122]:
rf.predict(X_test_enc)

array([' <=50K', ' <=50K', ' <=50K', ..., ' >50K', ' <=50K', ' >50K'], dtype=object)

In [123]:
rf.oob_score_

0.85611621264703175

Compared to the R version, the overal process is faster and better